.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.hazime {
    width: 80%;
    max-width: 500px; 
    margin: 0 auto;
    text-align: center;
    margin-top:100px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
}

.btn-link {
    margin: 30px auto;
}
.btn-link a {
    color: rgb(14, 52, 85);
    text-decoration: none;
    width: 100px;
    padding: 20px;
    background-color: rgb(154, 219, 214);
    border-radius: 30px;
}

body {
    max-width: 500px;
    font-family: "Kiwi Maru", serif;
}
.title {
    text-align: center;
}
.wavebox {
    text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.menu button {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #333;
  cursor: pointer;
}

.menu button:hover {
  background: #333;
  color: #fff;
}

.content {
    margin: 40px;
}